/* src/styles.css */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

/* styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  color: white;
}

/* nav */
.posRel {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.topNav {
  background-color: #000;
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 0.15em 0.5em 2.5em;
}

.topNavA {
  font-size: 0.6em;
  text-decoration: none;
  padding: 0 0.75em;
  color: grey;
}

.searchInput {
  display: flex;
  align-items: center;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 0 0.3em;
  margin-right: 1em;
}

.searchInput input {
  color: white;
  background-color: #000;
  border: none;
  font-size: 0.6em;
}

.searchInput i {
  color: grey;
  font-size: 0.6em;
}

.blueHdr {
  height: 90px;
  background-color: #00b8f4;
  width: 100%;
  padding: 0 5em;
}

.topLogo {
  height: 80px;
}

.rightBtns {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navDots {
  font-size: 1.5em;
}

.mobBook {
  color: white;
  border: none;
  background-color: #0098ca;
  width: 70%;
  height: 45px;
}

.bookTablet {
  display: none;
  flex-direction: column;
  color: white;
  border-right: solid white 1px;
  padding-right: 1em;
}

.bookTablet h3 {
  font-size: x-large;
}

.bookTablet h3,
.bookTablet p {
  text-align: center;
  margin: 0;
}

/* main content */

/* Premium liquors */

.mainContent {
  padding-top: 150px;
  background-color: #231024;
}

.premliq {
  background-image: url("./assets/imgs/premLiqs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worldsBest {
  width: 75%;
  margin: auto;
  padding-bottom: 2em;
}

.smallerBestText {
  font-family: "Allan", sans-serif;
  color: #c19c46;
  margin-top: 1.15em;
  font-size: 1.5em;
}

.bestText,
.biggerBestText {
  color: white;
  text-align: center;
}

.bestText {
  font-size: 1.45em;
}

.biggerBestText {
  font-size: 2.75em;
  margin-bottom: 0.5em;
}

.certificate {
  width: 45%;
  height: 65%;
}

/* hallmark */

.primaryContent {
  background-color: #353535;
}

.hallmark {
  /* height: 125`0px; */
  background-color: #353535;
  padding: 3.5em 1.95em;
}

.hallmarkTitle {
  color: #0098ca;
  font-size: 2.25em;
  font-weight: 800;
  margin-bottom: 1.25em;
}

.liqLogos {
  margin: 0;
  padding: 0;
}

.liqLogos img {
  width: 100%;
}

.pHall {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3em;
}

#d4video {
  padding: 3em 0;
}

#d4video iframe {
  width: 460px;
  height: 345px;
}

/* secondary content */

.secondaryContent {
  background-color: white;
  padding: 2em 0;
}

.mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1.75em;
}

.moodContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchBar {
  color: #0098ca;
  font-size: 2.25em;
  font-weight: bold;
}

.EvMood {
  font-size: 2.15em;
  font-weight: bold;
}

.pMood {
  font-size: 2em;
  text-align: center;
  margin: 1em 0.5em;
}

.servSafe {
  background-color: black;
  width: 80%;
  margin: auto;
  padding: 0.5em;
}

.innerSS {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid white 2px;
  padding: 1em 0.5em;
}

.innerSS img {
  width: 100%;
}

.pSS {
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin: 1em 0.5em;
}

/* slider */

.allSlideContent {
  margin: 2em 0;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
}

.aSlide {
  height: 700px;
  min-width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}

#slide1 {
  background-image: url("./assets/imgs/sliderImages/carou-img1.jpg");
}

#slide2 {
  background-image: url("./assets/imgs/sliderImages/carou-img2.jpg");
}

#slide3 {
  background-image: url("./assets/imgs/sliderImages/carou-img3.jpg");
}

#slide4 {
  background-image: url("./assets/imgs/sliderImages/carou-img4.jpg");
}

#slide5 {
  background-image: url("./assets/imgs/sliderImages/carou-img5.jpg");
}

.aSlideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.slideH3,
.slideSpan {
  text-shadow: 5px 5px 20px #000;
}

.slideH3 {
  font-size: 5em;
  margin: 0;
  font-weight: 800;
}

.slideSpan {
  font-size: 1.5em;
}

.lowerBar {
  width: 90%;
  height: 50px;
  background-color: black;
  opacity: 80%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aLB {
  position: absolute;
  right: 5%;
  top: 25%;
  color: #0098ca;
}

.LBtext {
  font-size: 1.15em;
  align-self: center;
}

.sliderControls {
  display: flex;
  justify-content: center;
  margin: 1em 0 3em;
  align-items: center;
  color: grey;
}

.sliderControls a {
  color: grey;
}

.slideCounter {
  font-size: 1.5em;
  margin: 0 1em;
}

ul {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* Cocktails */

.cocktailsContent {
  margin: 4em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktailsTitle {
  color: #0098ca;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}

.cocktailsTitle strong {
  color: #000;
}

.cocktailsSubT {
  text-align: center;
  font-size: 1.5em;
}

.note {
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  margin: 1.5em 0;
  width: 100%;
}

.cocktailsNote {
  color: #0098ca;
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em 3em;
  text-align: center;
}

.cocktails-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 3em 0;
}

.oneCocktail {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktailImg {
  width: 100%;
  border-radius: 50%;
}

.oneCocktail span {
  font-size: 0.75em;
}

.aboveWines {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em 3em;
  text-align: center;
}

.blueW {
  color: #0098ca;
  display: inline;
}

/* wines */

.winesContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 3em 0;
}

.oneWine {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.oneWine img {
  width: 70%;
  border-radius: 50%;
  border: #0098ca solid 7px;
}

.wineDescription img {
  width: 90%;
  border-radius: 0%;
  border: none;
}

.wineDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 0;
}

.wineDescription h5 {
  font-size: 2em;
  font-weight: 700;
  padding: 0.5em 0;
  text-align: center;
}

.wineDescription p {
  font-size: 1.5em;
  align-items: center;
  padding: 0.25em 1em;
  text-align: center;
  color: grey;
  margin: 0;
}

.wineDescription a {
  color: #000;
  text-decoration: none;
  font-size: 1.25em;
}

/* second video section */

.forWhiteGrad {
  position: relative;
}

.secondVContent {
  height: 900px;
  position: relative;
  background-image: url("./assets/imgs/pexels-mikhail-nilov-8158180\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover-gradient {
  position: absolute;
  background-image: url("./assets/imgs/whiteGradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.lowerInfo {
  display: flex;
  padding: 0.5em 2em 0.5em 3em;
  background-color: #000;
  opacity: 85%;
  position: absolute;
  bottom: 2.5%;
  color: white;
  border-radius: 25px;
  left: 10%;
  right: 10%;
  z-index: 3;
}

.vidBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.vidBtn img {
  width: 100%;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textInfo h4 {
  font-size: 2em;
  font-weight: 700;
}

/* last section */

.lastBeach {
  margin: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastBeach img {
  width: 70%;
}

.more {
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
}

.lastBeach p {
  font-size: 1.5em;
  padding-bottom: 2em;
  text-align: center;
}

.viewInclus {
  height: 80px;
  width: 100%;
  background-color: #0098ca;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  text-decoration: none;
}

footer {
  background-color: #000;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerImg {
  width: 70%;
}

/* media queries */

@media (min-width: 768px) {
  .topNav {
    display: flex;
  }

  .blueHdr {
    height: 60px;
  }

  .topLogo {
    height: 60px;
  }

  .mobBook {
    display: none;
  }

  .rightBtns {
    width: 50%;
  }

  .bookTablet {
    display: flex;
  }

  .navDots {
    font-size: 1.75em;
  }

  .certificate {
    width: 35%;
    height: 55%;
  }

  /* hallmark */
  .pHall {
    font-size: 1em;
  }

  .liqLogos {
    width: 60%;
    margin: auto;
  }

  .pMood {
    font-size: 1em;
  }

  .servSafe {
    width: 90%;
  }

  .innerSS {
    flex-direction: row;
  }

  .innerSS img {
    width: 40%;
  }

  .pSS {
    font-size: 1em;
  }

  .cocktailsNote,
  .aboveWines {
    font-size: 1.1em;
  }

  .winesContent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* second video */

  .lowerInfo {
    left: 20%;
    right: 20%;
  }

  .vidBtn {
    width: 43%;
  }

  .lastBeach {
    width: 75%;
    margin: auto;
  }

  .more {
    font-size: 2em;
  }

  .lastBeach p {
    font-size: 1.1em;
  }

  .viewInclus {
    width: 80%;
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  /* nav */

  .searchInput {
    margin-right: 9em;
  }

  .blueHdr {
    padding: 0 3em;
  }

  .rightBtns {
    justify-content: center;
  }

  .rightBtns a {
    margin: 0 1em;
  }

  .topLogo {
    margin-left: 3em;
  }

  .certificate {
    width: 30%;
    height: 48%;
  }

  /* hallmark */

  .hallmark {
    width: 80%;
    margin: auto;
  }

  .hallmarkTitle {
    width: 100%;
    margin-bottom: 0.5em;
    border-bottom: solid grey 1px;
    text-align: center;
    padding-bottom: 0.7em;
  }

  .pHall {
    width: 70%;
  }

  .liqLogos {
    width: 50%;
  }

  /* mood */

  .mood {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3.75em;
  }

  .moodContent {
    width: 70%;
    align-items: flex-start;
  }

  .pMood {
    text-align: start;
    margin: 0.5em 0;
    width: 80%;
  }

  .servSafe {
    width: 30%;
  }

  .innerSS {
    flex-direction: column;
  }

  /* coctails */

  .cocktailsContent {
    margin: 4em 6.5em 2em;
  }

  .cocktails-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3em 2.5em;
  }

  .cocktailsTitle {
    margin-bottom: -0.25em;
  }

  .cocktailsNote {
    padding: 0 10em;
  }

  /* wines */

  .winesContent {
    margin: 3em 8em;
  }

  /* second video */

  .lowerInfo {
    left: 28%;
    right: 28%;
    bottom: 18%;
  }

  .vidBtn {
    width: 30%;
  }

  /* last section */

  .lastBeach img {
    width: 40%;
  }

  /* footer */

  .footerImg {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  /* prem liquors */

  .certificate {
    width: 25%;
    height: 40%;
  }

  /* cocktails */

  .cocktails-container {
    margin: 3em 6.5em;
  }

  /* wines */

  .winesContent {
    margin: 3em 11em;
  }

  /* last section */

  .lastBeach img {
    width: 30%;
  }

  /* footer */

  .footerImg {
    width: 40%;
  }
}

/* modal */

.modal {
  display: none; 
  position: fixed; 
  z-index: 5; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#video2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
