/* src/styles.css */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

/* styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #231024;
}

a {
  color: white;
}

/* nav for mobile view */
.posRel {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.blueHdr {
  height: 90px;
  background-color: #00b8f4;
  width: 100%;
}

.topLogo {
  height: 80px;
}

.rightBtns {
  width: 40%;
}

.navDots {
  font-size: 1.5em;
}

.mobBook {
  color: white;
  border: none;
  background-color: #0098ca;
  width: 70%;
  height: 45px;
}

/* main content */

/* Premium liquors */

.mainContent {
  padding-top: 150px;
}

.premliq {
  background-image: url("./assets/imgs/premLiqs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.worldsBest {
  width: 75%;
  margin: auto;
  padding-bottom: 2em;
}

.smallerBestText {
  font-family: "Allan", sans-serif;
  color: #c19c46;
  margin-top: 1.15em;
  font-size: 1.5em;
}

.bestText,
.biggerBestText {
  color: white;
  text-align: center;
}

.bestText {
  font-size: 1.45em;
}

.biggerBestText {
  font-size: 2.75em;
  margin-bottom: 0.5em;
}

.certificate {
  padding-top: 5em;
  width: 45%;
  height: 65%;
}

/* hallmark */

.hallmark {
  /* height: 125`0px; */
  background-color: #353535;
  padding: 3.5em 1.95em;
}

.hallmarkTitle {
  color: #0098ca;
  font-size: 2.25em;
  font-weight: 800;
  margin-bottom: 1.25em;
}

.liqLogos img {
  width: 100%;
}

.pHall {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3em;
}

#d4video {
  padding: 3em 0;
}

/* secondary content */

.secondaryContent {
  background-color: white;
  padding: 2em 0;
}

.mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1.75em;
}

.moodContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchBar {
  color: #0098ca;
  font-size: 2.25em;
  font-weight: bold;
}

.EvMood {
  font-size: 2.15em;
  font-weight: bold;
}

.pMood {
  font-size: 2em;
  text-align: center;
  margin: 1em 0.5em;
}

.servSafe {
  background-color: black;
  width: 80%;
  margin: auto;
  padding: 0.5em;
}

.innerSS {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid white 2px;
  padding: 1em 0.5em;
}

.innerSS img {
  width: 100%;
}

.pSS {
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin: 1em 0.5em;
}

/* slider */

.allSlideContent {
  margin: 2em 0;
}

.aSlide {
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

#slide1 {
  background-image: url("./assets/imgs/sliderImages/carou-img1.jpg");
}

.aSlideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.slideH3,
.slideSpan {
  text-shadow: 5px 5px 20px #000000;
}

.slideH3 {
  font-size: 5em;
  margin: 0;
  font-weight: 800;
}

.slideSpan {
  font-size: 1.5em;
}

.cover-gradient-slide {
  display: block;
  position: absolute;
  background: transparent url(./assets/imgs/whiteGradient.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.lowerBar {
  width: 90%;
  height: 50px;
  background-color: black;
  opacity: 80%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aLB {
  position: absolute;
  right: 5%;
  top: 25%;
  color: #0098ca;
}

.LBtext {
  font-size: 1.15em;
  align-self: center;
}

.sliderControls {
  display: flex;
  justify-content: center;
  margin: 1em 0 3em;
  align-items: center;
  color: grey;
}

.sliderControls a {
  color: grey;
}

.slideCounter {
  font-size: 1.5em;
  margin: 0 1em;
}
